*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8f9;
}

#text-logo {
    font-weight: bold;
    font-size: 3rem;
    vertical-align: bottom;
}

.logo{
    background-color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

