* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    background-color: #f6f8f9;
}

ul {
    list-style-type: none;
}

h2 {
    line-height: 1;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.centv {
    vertical-align: middle;

}

/* logo */
.text-logo {
    font-weight: bold;
    font-size: 3rem;
}

.logo {
    background-color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.button-main {
    background-color: white;
    padding-left: 2.5rem;
    margin-bottom: 5px;

}

.blu_button {
    color: white;
    background-color: #47adf1;
    border: 0px;
}

button {
    padding: 5px 10px 5px 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(136, 136, 136);
    margin: 10px 3px 10px 3px;
}

/* /button */

/* main */
.app-main {
    margin: auto;
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 5rem;

}

.editorial {
    border-radius: 20px;
    background-color: #45abea;
    padding: 5px 15px;
    color: white;
    margin-left: 5px;
}

.q1_goals {
    border-radius: 20px;
    background-color: #9c72e4;
    padding: 5px 15px;
    color: white;
    margin-left: 5px;

}

.recruiting {
    border-radius: 20px;
    background-color: #64c0a9;
    padding: 5px 15px;
    color: white;
    margin-left: 5px;

}

.mobile {
    border-radius: 20px;
    background-color: #d863a1;
    padding: 5px 15px;
    color: white;
    margin-left: 5px;

}

.sales {
    border-radius: 20px;
    background-color: #b0c926;
    padding: 5px 15px;
    color: white;
    margin-left: 5px;

}

.website {
    border-radius: 20px;
    background-color: #f29e33;
    padding: 5px 15px;
    color: white;
    margin-left: 5px;

}


.gray_button {
    padding: 5px 10px 5px 10px;
    color: white;
    background-color: #47adf1;
    text-align: center;
    border-radius: 5px;
    border: 0px solid black;
}

.check {
    border: 2px solid #5fbda6;
    color: #5fbda6;
    border-radius: 50%;
    font-size: 11px;
    padding: 2px 3px 2px 3px;

    margin-right: 10px;
}

.nocheck {
    border: 2px solid #ee6f67;
    color: #ee6f67;
    border-radius: 50%;
    font-size: 11px;
    padding: 2px 3px 2px 3px;
    margin-right: 10px;
}

.list_main {
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.hline {
    line-height: 2.5;
}

.copy {
    background: rgba(119, 119, 119, 0.484);
    text-align: center;
    line-height: 40px;
    font-size: 0.7em;
    color: white;
}